-i https://pypi.org/simple
asgiref
django
django-cors-headers
django-mysql
djangorestframework
djangorestframework-simplejwt
djangorestframework-simplejwt[crypto]
exceptiongroup
iniconfig
packaging
pika
pluggy
psycopg2-binary
pytest
sqlparse
tomli
typing-extensions
channels
django-environ
pytest
pytest-django
pytest-mock
pillow
twisted[http2,tls]
uvicorn[standard]
requests
daphne
aio-pika