# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual Environment
.env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/
*.rst~

# PyBuilder
target/

# IPython
.ipynb_checkpoints

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
Pipfile.lock
Pipfile

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# Ignore executable files
a.out
*.exe
*.out
*.o
*.obj
*.so
*.dll
*.dylib
*.bin
*.msi
*.apk
*.jar
*.war

# Ignore IDE specific files
.DS_Store
.vscode/
.idea/
*.iml

# Ignore Trunk specific files
# .trunk/
