body {
    overflow: hidden;
    background-image: url("../assets/images/Pong.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.aboutText {
    display: block;
    color: white;
    text-align: center;
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
    outline: none;
    font-family: "Teko", sans-serif;
    font-size: 25px;
    margin-bottom: -5px;
    box-shadow: none;
    display: inline-block;
    text-align: center;
    text-shadow: -2px 0 black, 0 2px black, 1px 0 black, 0 -2px black;
}

.aboutText:hover {
    background-color: transparent;
    transform: scale(1.5);
    transition: transform 0.3s ease-in-out;
    text-shadow: none;
}

.aboutTitle {
    display: block;
    color: white;
    text-align: center;
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
    outline: none;
    font-family: "Teko", sans-serif;
    font-size: 40px;
    margin-bottom: -5px;
    box-shadow: none;
    display: inline-block;
    text-align: center;
    text-shadow: -2px 0 black, 0 2px black, 1px 0 black, 0 -2px black;
}