-i https://pypi.org/simple
asgiref
django
django-cors-headers
django-mysql
djangorestframework
djangorestframework-simplejwt; python_version >= '3.6'
djangorestframework-simplejwt[crypto]; python_version >= '3.6'
exceptiongroup
iniconfig
packaging
pika
pluggy
psycopg2-binary
pytest
sqlparse
tomli
typing-extensions
# gunicorn
pytest-django>=4.4.0
django-environ
uvicorn
daphne