body {
    overflow: hidden;
    background-image: url("../assets/images/Pong.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: lightgrey;
}

.font {
    color: white;
    display: flex;
    justify-content: center;
    font-family: "Teko", sans-serif;
    font-size: 25px;
    align-items: center;
}

.user-font {
    color: white;
    display: flex;
    justify-content: center;
    font-family: "Teko", sans-serif;
    font-size: 50px;
    align-items: center;
}

.AcceptMessage {
    font-size: 23px;
    font-family: "Teko", sans-serif;
    color: green;
    margin-top: -10px; /* Space between title and error message */
    margin-bottom: -10px; /* Space between error message and body */
    text-align: center;
}

.ErrorMessage {
    font-size: 23px;
    font-family: "Teko", sans-serif;
    color: red;
    margin-top: -10px; /* Space between title and error message */
    margin-bottom: -10px; /* Space between error message and body */
    text-align: center;
}

.signup-link {
    margin-left: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none;
}

#imageInput {
    display: none;
}

#playerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.online {
    color: green;
}
  
  .offline {
    color: red;
}

#friendForm {
    display: flex;
    text-align: center;
    justify-content: center;
}

.file-name {
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden; /* Hides overflow if necessary */
    text-overflow: ellipsis; /* Adds ellipsis if the text overflows */
    color: white;
    display: inline-block; /* Makes sure the span is treated as a block for overflow */
    max-width: 150px; /* Maximum width of the span */
    margin-left: 8px; /* Space between the input and the span */
}