.modal-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin:auto;
  /*top: 1.5%;
  bottom: 1.5%; */
}
#threejsContainer {
  position: relative;
  width: 800px;
  height: 600px; /* Adjust the height as needed */
}

.game-modal { 
  .modal-title {
    display: flex;
    justify-content: center;
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: "Teko", sans-serif;
    font-size: 30px;
    margin-bottom: -5px;
    box-shadow: none;
    text-align: center;
    text-shadow: -2px 0 black, 0 2px black, 1px 0 black, 0 -2px black;
  
  }
    .modal-dialog {
      max-width: 800px; // Set specific width for game modal
      margin: auto; // Center the modal
    }
  
    .modal-content {
      width: 100%; // Ensure the content takes the full width of the dialog
      background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
    }
  
    .modal-body {
      padding: 0px; // Adjust padding if needed
    }
  }

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 400px;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
  position: relative;
  margin-top:200px;
}

.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-title {
  color:white;
  text-align: center;
  font-family: "Teko", sans-serif;
}

.modal-header {
  border-bottom: none;
}

.labelFont {
	color: white;
}

.form-group {
  margin-bottom: 10px;
  width: 200px;
}

.form-group-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ABOUT */
.aboutTitle {
  display: flex;
  justify-content: center;
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: "Teko", sans-serif;
  font-size: 40px;
  margin-bottom: -5px;
  box-shadow: none;
  text-align: center;
  text-shadow: -2px 0 black, 0 2px black, 1px 0 black, 0 -2px black;
}

.aboutText {
  display: flex;
  justify-content: center;
  border: none;
  color: rgb(255, 255, 255);
  outline: none;
  font-family: "Teko", sans-serif;
  font-size: 25px;
  margin-bottom: -5px;
  box-shadow: none;
  text-shadow: -2px 0 black, 0 2px black, 1px 0 black, 0 -2px black;
}

.aboutBody {
  display: block;
}

.aboutText:hover {
  background-color: transparent;
  transform: scale(1.5);
  transition: transform 0.3s ease-in-out;
  text-shadow: none;
}

/* Profile */
.profile-header {
  display: flex;
  align-items: flex-start;
}

.profileTitle {
  display: flex;
  justify-content: left;
  color: lightsalmon;
  font-family: "Teko", sans-serif;
  font-size: 40px;
  margin-bottom: -5px;
  box-shadow: none;
  display: inline-block;
  text-align: left;
  text-shadow: -2px 0 black, 0 2px black, 1px 0 black, 0 -2px black;
}

.profileText {
  display: flex;
  justify-content: left;
  border: none;
  color: lightgray;
  font-family: "Teko", sans-serif;
  font-size: 25px;
  margin-bottom: -5px;
  text-shadow: -2px 0 black, 0 2px black, 1px 0 black, 0 -2px black;
}

.modal-footer {
  border-top: none;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.friend-record {
  margin-top: -10px;
  margin-bottom: -10px;
}

.game-font {
  color: white;
  font-family: "Teko", sans-serif;
  font-size: 25px;
}

.game-label {
  color: white;
  margin-bottom: 5px;
}

.tournamentGameInfo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}