.modal-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin:auto;
  /*top: 1.5%;
  bottom: 1.5%; */
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 400px;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
  position: relative;
  margin-top:200px;
}

.modal-body {
  display: block;
  justify-content: center;
  align-items: center;
}

.modal-game {
  .modal-dialog{
    margin: auto;
  }
  .modal-content {
    height: 700px;
    width: 900px;
    margin:0px;
  }

}

.modal-title {
  color:white;
  text-align: center;
  font-family: "Teko", sans-serif;
  border-bottom: none;
}

.modal-header {
  border: none;
}

.labelFont {
	color: white;
}

.form-group {
  margin-bottom: 10px;
  width: 200px;
}

/* ABOUT */
.aboutTitle {
  display: flex;
  justify-content: center;
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: "Teko", sans-serif;
  font-size: 40px;
  margin-bottom: -5px;
  box-shadow: none;
  text-align: center;
  text-shadow: -2px 0 black, 0 2px black, 1px 0 black, 0 -2px black;
}

.aboutText {
  display: flex;
  justify-content: center;
  border: none;
  color: rgb(255, 255, 255);
  outline: none;
  font-family: "Teko", sans-serif;
  font-size: 25px;
  margin-bottom: -5px;
  box-shadow: none;
  text-shadow: -2px 0 black, 0 2px black, 1px 0 black, 0 -2px black;
}

.aboutBody {
  display: block;
}

.aboutText:hover {
  background-color: transparent;
  transform: scale(1.5);
  transition: transform 0.3s ease-in-out;
  text-shadow: none;
}

/* Profile */
.profileTitle {
  display: flex;
  justify-content: left;
  color: lightsalmon;
  font-family: "Teko", sans-serif;
  font-size: 40px;
  margin-bottom: -5px;
  box-shadow: none;
  display: inline-block;
  text-align: left;
  text-shadow: -2px 0 black, 0 2px black, 1px 0 black, 0 -2px black;
}

.profileText {
  display: flex;
  justify-content: left;
  border: none;
  color: lightgray;
  font-family: "Teko", sans-serif;
  font-size: 25px;
  margin-bottom: -5px;
  text-shadow: -2px 0 black, 0 2px black, 1px 0 black, 0 -2px black;
}